<footer class="page-footer text-center font-small mt-4 wow fadeIn">


  <div class="row ">

    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
      <!-- Informacion Compañia -->
      <h6 class="text-uppercase fw-bold mt-3">Información</h6>
      <hr class="mb-4 mt-0 d-inline-block mx-auto"
        style="width: 60px; background-color: #7c4dff; height: 2px" />
      <p>
        Somos una empresa que ofrece una plataforma web, donde los clientes 
      podrán encontrar todas las ofertas de diferentes pymes centralizadas en un sólo lugar, también encontraran pymes que tienen menores precios 
      que en los canales tradicionales, así lograrán ahorrar.
      </p>
    </div>

    <!-- Seccion de Contactos -->
    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
      <h6 class="text-uppercase fw-bold mt-3">Contactos</h6>
      <hr class="mb-4 mt-0 d-inline-block mx-auto"
        style="width: 60px; background-color: #7c4dff; height: 2px" />
      <p><i class="fas fa-envelope mr-3"></i> alumno.duoc@duocuc.cl</p>
      <p><i class="fas fa-phone mr-3"></i> +56 9 2343 5678</p>
      <p><i class="fas fa-print mr-3"></i> +56 9 2586 1278</p>
    </div>

  </div>


    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
      <a href="https://www.facebook.com/mdbootstrap" target="_blank">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>

      <a href="https://twitter.com/MDBootstrap" target="_blank">
        <i class="fab fa-twitter mr-3"></i>
      </a>

      <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
        <i class="fab fa-youtube mr-3"></i>
      </a>

      <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
        <i class="fab fa-google-plus-g mr-3"></i>
      </a>
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2021 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> MDBootstrap.com </a>
    </div>
    <!--/.Copyright-->

  </footer>